<div class="container grey-bg p-5" >
  <div class="row justify-content-center">
    <div class="col-sm-5">
      <div class="text-center">
        <h1>Update this listing</h1>
      </div>
      <%= render "form", listing: @listing %>
    </div>
  </div>
</div>
