<h1>Listings</h1>

<ul>
  <% @listings.each do |listing| %>
    <li><%=link_to listing.title, listing_path(listing) %>
    <%= listing.user.first_name %>
    </li>
  <% end %>
</ul>

<%= link_to 'Create a listing', new_listing_path %>
