<%= render 'shared/banner' %>
<h1 class="text-center">All the Listings</h1>

<div class="container">
  <div class="row">
  <% @listings.each do |listing| %>
    <div class="col-sm-4">
    <% if listing.photos.count.positive? %>
      <%= cl_image_tag listing.photos.first.key, width: 300, height: 200, crop: :fill %>
    <% end %>
      <p>
      <%=link_to listing.title, listing_path(listing) %>
      <%= listing.user.first_name %>
    </p>
    </div>
  <% end %>
  </div>
</div>

