<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6 grey-bg p-5 rounded-4">
      <div class="text-center">
        <h1>Create a listing</h1>
        <h4>Become a host and start earning money</h4>
        <hr>
      </div>

      <%= render "form", listing: @listing %>
    </div>
  </div>
</div>
