<div class="container grey-bg p-5" >
  <div class="row justify-content-center">
    <div class="col-sm-5">
      <div class="text-center">
        <h1>Create a listing</h1>
        <h4>Become a host and start earning money</h4>
      </div>

      <%= render "form", listing: @listing %>
    </div>
  </div>
</div>
