.btn-green{
  color: $green;
  border: 1px solid $green;
}

.btn-neon {
  color: $green;
  transition: .5s;
  .fab{
    font-size: 20px;
    padding: 3px;
  }
}

.btn-neon:hover:before {
  color: $green;
  filter: blur(0.3px);
}

.btn-neon:hover {
  color: $green;
  text-shadow: 0 0 15px $green;
}

.link-neon{
  transition: .5s;
}

.link-neon:hover, .link-neon:active{
  text-shadow: 0 0 15px $green;
}
