// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "banner";
@import "map";
@import "card";
@import "buttons";
@import "address_autocomplete";


body {
  background: $black;
  color: $text;
}

.grey-bg{
  background-color: $grey;
}

h1{
  font-family: "Nosifer", cursive;
}

#cards-index {
  position: relative;
  top: -100px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.obj-fit{
  object-fit: cover;
}

