// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "banner";
@import "map";
@import "card";
@import "buttons";
@import "address_autocomplete";
@import "footer";


body {
  background: $black;
  color: $text;
  .wrapper{
    position: relative;
    min-height: 100vh;
  }
}

.grey-bg{
  background-color: $grey;
}

.text-green{
  color: $green;
}

h1{
  font-family: "Nosifer", cursive;
}

#cards-index {
  position: relative;
  top: -100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding-bottom: 50px;
}

.obj-fit{
  object-fit: cover;
}

.btn{
  cursor: url(http://www.rw-designer.com/cursor-view/178562.png), grab;
}