// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "banner";
@import "map";
@import "card";
@import "buttons";
@import "address_autocomplete";

$black: #272626;
$text: #F8F8FF;
$grey: #2b2b2b;

body {
  background: $black;
  color: $text;
}

.grey-bg{
  background-color: $grey;
}


#cards-index {
  position: absolute;
  top: 500px;
  left: 45px;
  bottom: 0px;
}
